@import "fonts.css";

body {
  background: #ec008c;
  color: #fff;
  margin: 0;
  padding: 0;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  font: 20vmin/1 HUGEAvantGardeBold;
  letter-spacing: -0.06em;
  text-align: center;
  color: #fff;
}
p {
  font: 1.8em GalazieCopernicusBook;
  line-height: 1.3em;
}
header {
  top: 0;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 72px;
  background: #ec008c;
  overflow: hidden;
}
img.nav-logo {
  margin: 24px 48px 24px 24px;
}
nav {
  top: 0;
  left: 132px;
  position: absolute;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav ul li {
  display: inline-block;
  height: 24px;
  padding: 24px;
  font-family: HUGEAvantGardeBold;
  font-size: 22px;
  line-height: 32px;
  transition: color .2s, background .2s;
}
nav ul li:hover {
  background: #fff;
  color: #ec008c;
  cursor: pointer;
}
main {
  margin-top: 72px;
  background: #fff;
  color: #000;
  position: relative;
}
section {
  padding: 60px 0;
  margin: 0px auto;
  width: 968px;
}
section.cover {
  position: relative;
  height: 640px;
  width: 100%;
  background: url('/images/background-image.jpg');
  padding: 0;
}
