@import "fonts.css";

body {
  background: #ec008c;
  color: #fff;
  margin: 0;
  padding: 0;
  min-width: 1100px;
}
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  font: 20vmin/1 HUGEAvantGardeBold;
  letter-spacing: -0.06em;
  text-align: center;
  color: #fff;
}
p {
  font: 1.8em GalaxieCopernicusBook;
  line-height: 1.3em;
}
#blanket {
  top: 0;
  left: 0;
  z-index: 1;
  position: fixed;
  background: #000;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  height: 0;
  transition: opacity .1s;
}
header {
  top: 0;
  z-index: 2;
  position: fixed;
  width: 100%;
  min-width: 1100px;
  height: 72px;
  background: #ec008c;
  overflow-x: hidden;
}
main {
  margin-top: 72px;
  background: #fff;
  color: #000;
  position: relative;
}
section {
  padding: 60px 0;
  margin: 0px auto;
  width: 968px;
}
section.cover {
  position: relative;
  height: 640px;
  width: 100%;
  background: url('/images/background-image.jpg');
  padding: 0;
}

/* Nav Bar */
#nav-logo-desktop {
  margin: 24px 48px 24px 24px;
}
nav {
  top: 0;
  left: 132px;
  position: absolute;
}
nav ul {
  padding: 0;
  margin: 0;
}
#main-nav > ul > li {
  display: inline-block;
}
.nav-list-item {
  height: 24px;
  padding: 24px;
  display: block;
  font: 22px HUGEAvantGardeBold;
  line-height: 32px;
  text-decoration: none;
  color: #fff;
  transition: color .2s, background .2s;
}
.nav-list-item:hover {
  background: #fff;
  color: #ec008c;
  cursor: pointer;
}
ul.sub-nav {
  background: #fff;
  position: fixed;
  list-style-type: none;
  min-width: 200px;
}
ul.sub-nav li a {
  display: block;
  padding: 16px 24px;
  font: 1.1em GalaxieCopernicusBook;
  color: #000;
  text-decoration: none;
  transition: color .1s, background .1s;
}
ul.sub-nav li a:hover {
  color: #ec008c;
  cursor: pointer;
  background: #efefef;
}
.hidden {
  display: none;
}